{
  "env": {
    "browser": true
  },
  "globals": {
    "expect": true,
    "sinon": true
  },
  "plugins": ["vue"],
  "rules": {
    "no-restricted-globals": ["error", "event", "fdescribe"],
    "vue/max-attributes-per-line": [
      2,
      {
        "singleline": 3,
        "multiline": {
          "max": 1,
          "allowFirstLine": false
        }
      }
    ],
    "vue/require-default-prop": "off",
    "vue/require-prop-types": "off",
    "lines-between-class-members": ["error", "always"],
    "no-multiple-empty-lines": "error"
  },
  "extends": ["@vue/typescript", "plugin:vue/strongly-recommended"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  }
}
