<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0, maximum-scale=1, shrink-to-fit=no">
    <title>Homify</title>
    <link rel="icon"
        href="/static/favicon.ico"
        type="image/x-icon">
    <!--[if IE]><link rel="shortcut icon" href="/static/img/icons/favicon.ico"><![endif]-->
    <!-- Add to home screen for Android and modern mobile browsers -->
    <link rel="manifest"
        href="/static/manifest.json">
    <meta name="theme-color"
        content="#4DBA87">

    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable"
        content="yes">
    <meta name="apple-mobile-web-app-status-bar-style"
        content="black">
    <meta name="apple-mobile-web-app-title"
        content="Homify">
    <link rel="apple-touch-icon"
        href="/static/img/icons/apple-touch-icon-152x152.png">
    <!-- Add to home screen for Windows -->
    <meta name="msapplication-TileImage"
        content="/static/img/icons/msapplication-icon-144x144.png">
    <meta name="msapplication-TileColor"
        content="#000000">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,600,600i,700,700i"
        rel="stylesheet">
    <link rel="preload"
        href="/static/config.js"
        as="script">
    <% for (var chunk of webpack.chunks) {
            for (var file of chunk.files) {
              if (file.match(/\.(js|css)$/)) { %>
        <link rel="<%= chunk.initial?'preload':'prefetch' %>"
            href="<%= htmlWebpackPlugin.files.publicPath + file %>"
            as="<%= file.match(/\.css$/)?'style':'script' %>">
        <% }}} %>
</head>

<body>
    <div id="app"></div>
    <!-- Todo: only include in production -->
    <%= htmlWebpackPlugin.options.serviceWorkerLoader %>
        <!-- Manually include config script -->
        <script src="/static/config.js"></script>
        <!-- built files will be auto injected -->
</body>

</html>