@import "@/styles/themes/default.scss";

.main-container {
  min-height: 100%;
  padding-top: 100px;
  transition: margin-left 0.28s;
  margin-left: 250px;
}
.drawer-bg {
  background: #000;
  opacity: 0.3;
  width: 100%;
  top: 0;
  height: 100%;
  position: absolute;
  z-index: 99;
}
.sidebar-container {
  transition: width 0.28s;
  width: 250px !important;
  height: 100%;
  position: fixed;
  top: 100px;
  bottom: 0;
  left: 0;
  background-color: $sidebar-bg-color;
  border-top-right-radius: 0.375rem;
  z-index: 100;
  a {
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid #ebeef2;
    padding: 0.675rem 0;
  }
  .horizontal-collapse-transition {
    transition: 0s width ease-in-out, 0s padding-left ease-in-out,
      0s padding-right ease-in-out;
  }
  .scrollbar-wrapper {
    height: calc(100% + 15px);
    .el-scrollbar__view {
      height: 100%;
    }
  }
  .is-horizontal {
    display: none;
  }

  .svg-icon {
    margin-right: 16px;
  }
}
.hideSidebar {
  .sidebar-container {
    width: 80px !important;
  }
  .main-container {
    margin-left: 80px;
  }
  .submenu-title-noDropdown {
    padding-left: 10px !important;
    position: relative;
    .el-tooltip {
      padding: 0 10px !important;
    }
  }
  .el-submenu {
    overflow: hidden;
    & > .el-submenu__title {
      padding-left: 10px !important;
      .el-submenu__icon-arrow {
        display: none;
      }
    }
  }
  .el-menu--collapse {
    width: 80px;
    .el-submenu {
      & > .el-submenu__title {
        & > span {
          height: 0;
          width: 0;
          overflow: hidden;
          visibility: hidden;
          display: inline-block;
        }
      }
    }
  }
}
.sidebar-container .nest-menu .el-submenu > .el-submenu__title,
.sidebar-container .el-submenu .el-menu-item {
  min-width: 250px !important;
  background-color: $subMenuBg !important;
  &:hover {
    background-color: $menuHover !important;
  }
}

//适配移动端
.mobile {
  .main-container {
    margin-left: 0px;
  }
  .sidebar-container {
    transition: transform 0.28s;
    width: 250px !important;
  }
  &.hideSidebar {
    .sidebar-container {
      transition-duration: 0.3s;
      transform: translate3d(-250px, 0, 0);
    }
  }
}
.withoutAnimation {
  .main-container,
  .sidebar-container {
    transition: none;
  }
}
